.EXAM {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  width: 20% !important;
  padding: 2cm !important;
  background-color: #272343;
  color: white;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
box1 h4{
  margin-top: 0;
  align-items: center;
}

.box1.active {
  width: 100%;
  border:none;
  background-color: white;
  color: black;
}

.subject {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sub {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #007bff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sub:hover {
  background-color: #007bff;
  color: #fff;
}

.details {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
