footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
  padding: 2% 5%;
  background-color: #979898;
  color: #fff;
  margin-top: 3%;
}

/* Footer sections */
.footer-left,
.footer-center,
.footer-right {
  width: 30%;
}

/* Text Styling */
.h1 {
  font-size: 1.8rem;
  color: #fff;
}

.footer-description,
.footer-contact,
.footer-right {
  font-size: 1rem;
  color: #f6f2f2;
}

/* Social Icons */
.social-icons {
  margin-top: 20px;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.icon:hover {
  color: #4c8c7a;
}

/* Icon Styling for Contact Info */
footer .footer-center p i,
footer .footer-left p i {
  margin-right: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    margin-bottom: 20px;
  }
}
